:root {
    /* colors */
    --txtcolor: #FFFCFF;
    --bgcolor: #1B2F33;
    --complementcolor: #FFD23F;
    --highlightcolor: #F02D3A;
    --complementcolor2: #729EA1;
    --bgcolorlight: #35494D;
    --complementcolor2dark: #426E71;
    --complementcolordark: #CA9C0A;
    --txtcolordark: #5F5C5F;

    /* spacing */
    --spacing: 7.5%;
}

body {
    background-color: var(--bgcolor);
}

header, main, footer {
    padding: 0 var(--spacing);
}

p, li, figcaption, details, footer {
    color: var(--txtcolor);
}

h1, h2, h3, h4 {
    color: var(--complementcolor);
}

a {
    color: var(--highlightcolor);
}

.iframe-container {
    display: flex;
    justify-content: center;
}

.iframe-tabs {
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
}

.iframe-tabs a {
    padding: 10px 5px;
    text-decoration: none;
    background-color: var(--complementcolor);
    color: var(--bgcolor);
    margin: 5px 0;
    font-weight: bold;
    transition: all 0.5s ease-out;
    border-radius: 25% 0 0 25%;
    font-size: 0.9rem;
}

.iframe-tabs a:hover {
    background-color: var(--complementcolordark);
}

#link-top {
    position: fixed;
    opacity: 0.3;
    bottom:0.3em;
    left:0.3em;
    width:2.5rem;
    height:2.5rem;
    border-radius: 50%;
    border: 2px dashed white;
    text-decoration: none;
    color: var(--txtcolor);
  
    line-height:2.5rem;
    text-align:center;
  
    transform: rotateZ(0);
    transition: all 0.5s ease-in-out;
    box-shadow: var(--txtcolor);
    background: linear-gradient(var(--txtcolor), var(--txtcolordark));
  }
 
  #btt-arrow {
    opacity: 0.5;
    transform: rotateZ(0);
    transition: opacity 0.5s linear, transform 0.5s linear;
    font-weight: bold;
  }
  
  #link-top:hover {
    opacity: 1;
    transform: rotateZ(90deg);
  }
  
  #link-top:hover>#btt-arrow {
    opacity: 1;
    transform: rotateZ(-90deg);
  }