#page-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    gap: 1rem;
    grid-template-areas: "welcome welcome welcome"
                        "dayprod schedule newprods"
                        "news schedule newprods"
                        "news promotions qa"
                        "reviews reviews reviews";
    overflow:unset;
}

#page-grid>* {
    padding: 0.5rem 1rem;
    border: 2px solid var(--complementcolor2);
}

#welcome {
    grid-area: welcome;
}

#dayprod{
    grid-area: dayprod;
}

#newprods {
    grid-area: newprods;
}

#schedule {
    grid-area: schedule;
}

#news {
    grid-area: news;
}

#promotions {
    grid-area: promotions;
}

#qa {
    grid-area: qa;
}

#static-gallery {
    grid-area: reviews;
}

table th, table td, table caption {
    border: 3px solid var(--complementcolor2);
    color: var(--txtcolor);
    padding: 0.5rem 1rem;
}

table caption {
    font-weight: bold;
    caption-side: bottom;
    border: none;
    text-align: center;
}

table {
    border-spacing: 3px;
}

.mention {
    font-size: 0.7rem;
    text-align: center;;
}

table tbody tr {
    transition: all 0.5s linear;
}

table tbody tr:nth-of-type(2n+1) {
    background-color: var(--complementcolor2dark);
}

table tbody tr:nth-of-type(2n+1):hover {
    background-color: var(--complementcolor2);
}

table tbody tr:nth-of-type(2n):hover {
    background-color: var(--bgcolorlight);
}

td.tab-no-bg {
    background-color: var(--bgcolor);
    font-weight: bold;
}

@media screen and (max-width: 1280px) { /* tablets */

    html {
        font-size: 15px;
    }

    #page-grid {
        grid-template-columns: 1fr 2fr;
        grid-template-areas: "welcome welcome"
                            "dayprod newprods"
                            "news promotions"
                            "news promotions"
                            "schedule schedule"
                            "qa reviews";
        gap: 0.5rem;
    }
    header {
        padding: 0;
    }
    main, footer {
        padding: 0 3.5%;
    }

    #news {
        overflow: auto;
    }

    table {
        border-spacing: 1px;
    }

    img {
        min-width: 500px;
    }
}

@media screen and (max-width: 820px) { /* mobile */
    html {
        font-size: 13px;
    }
    #page-grid {
        display: block;
    }
    header {
        padding: 0;
    }
    main, footer {
        padding: 0 2%;
    }
    .iframe-tabs a {
        transition: none;
    }
    table {
        border-spacing: 0;
        border-collapse: collapse;
    }
    tr {
        transition: none;
    }
    #schedule {
        overflow-x: scroll;
    }
    img {
        min-width: 250px;
    }
    #linktop, #arrow {
        transition: none;
    }
    table tbody tr {
        transition: none;
    }
}