.prodfig img {
  width: 50%;
  height: auto;
}

.prods-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
.prods-grid .product {
  border: 2px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  margin-bottom: 3rem;
  overflow: hidden;
  position: relative;
}
.prods-grid .product h3 {
  color: var(--complementcolor);
  text-align: center;
  margin-top: 0;
  padding: 0.5rem 0.1rem;
}
.prods-grid .product a {
  color: var(--txtcolor);
}
.prods-grid .product figure {
  text-align: center;
}
.prods-grid .product figure img {
  border: 1px solid black;
}
.prods-grid .product div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.prods-grid .product .prodinfo {
  display: flex;
  background-color: var(--complementcolor2dark);
  margin-bottom: 0.5rem;
}
.prods-grid .product .prodinfo p {
  width: 30%;
  text-align: center;
  font-weight: bold;
}

.select-cart {
  display: inline-block;
  background-color: var(--complementcolor);
  width: 50%;
  margin: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  padding: 0.3rem;
  border: 1px solid transparent;
}
.select-cart:hover {
  background-color: var(--complementcolordark);
  border: 1px solid var(--highlightcolor);
}

.input-pair {
  display: block;
  margin-bottom: var(--txtpadding);
}

.radio-pair {
  display: inline-block;
  margin-right: 1em;
}

.calcdiv {
  position: fixed;
  text-align: center;
  top: 5rem;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(var(--yellow_rgb), 0.7);
}
.calcdiv p {
  color: var(--txtcolor);
}
.calcdiv p span {
  color: var(--highlightcolor);
  font-weight: bold;
}