<footer>
    <a href="#" id="linktop">
        <div id="arrow" title="back to top">&#8593;</div>
    </a>
    <address> <a href="https://maps.app.goo.gl/4p3NG3d36oU65nZN8" target="_blank">Str. Jocurilor #12, Bucuresti, Sector 6</a></address>
    <small>Toate drepturile rezervate &copy; <time datetime="2024-03-04">4 Martie 2024</time> </small>
</footer>