<header>
    <h1>BG Shop - Magazinul tau de board games</h1>
    <nav>
        <label for="drop-down">
            <div id="hamburger-menu">
                <div class="hamburger-line"></div>
                <div class="hamburger-line"></div>
                <div class="hamburger-line"></div>
            </div>
        </label>
        <input type="checkbox" id="drop-down">
        <ul class="menu">
            <li> <span id="home"><i class="fa-solid fa-house"></i><span id="navhome">Acasa</span><i class="fa-solid fa-chevron-down"></i></span>
                <ul>
                    <li><a href="#reviews">Recenzii</a></li>
                    <li><a href="#qa">Q&A</a></li>
                    <li><a href="#newprods">Produse Noi</a></li>
                    <li><a href="#news">Stiri</a></li>
                </ul>
            </li> 
            <li> <span>Produse <i class="fa-solid fa-chevron-down"></i></span>
                <ul> 
                    <li><a href="">Jocuri de societate</a></li>
                    <li><a href="">Figurine & Accesorii</a></li>
                </ul>
            </li> 
            <li><a href=""><span>Contact</span></a></li> 
            <li><a href=""><span>Inregistrare</span></a></li> 
        </ul>
    </nav>
</header>