<header>
    <h1>BG Shop - Magazinul tau de board games </h1>
    <nav>
        <label for="drop-down">
            <div id="hamburger-menu">
                <div class="hamburger-line"></div>
                <div class="hamburger-line"></div>
                <div class="hamburger-line"></div>
            </div>
        </label>
        <input type="checkbox" id="drop-down">
        <ul class="menu">
            <li><span id="home"><i class="fa-solid fa-house"></i><span id="navhome">Acasa</span><i class="fa-solid fa-chevron-down"></i></span>
                <ul>
                    <li><a href="/index#welcome">Bun Venit!</a></li>
                    <li><a href="/index#schedule">Orar</a></li>
                    <li><a href="/index#promotions">Promotii</a></li>
                    <li><a href="/index#static-gallery">Galerie</a></li>
                </ul>
            </li>
            <li> <span>Produse <i class="fa-solid fa-chevron-down"></i></span>
                <ul>
                    <li><a href="/produse">Toate</a></li>
                    <li><a href="/produse?gen=strategie">Strategie</a></li>
                    <li><a href="/produse?gen=petrecere">De petrecere</a></li>
                    <li><a href="/produse?gen=figurina">Figurine</a></li>
                    <li><a href="/produse?gen=carti">De carti</a></li>
                    <li><a href="/produse?gen=rpg">RPG</a></li>
                </ul>
            </li> 
            <li><a href=""><span>Contact</span></a></li> 
            <li><a href=""><span>Inregistrare</span></a></li> 
            <div id="themediv" class="form-check form-switch d-flex">
                <i class="bi bi-sun-fill"></i>
                <div class="form-switch form-check ms-2">
                    <input type="checkbox" id="themecheck" class="form-check-input" role="switch">
                </div>
                <label for="themecheck" class="form-check-label"><i class="bi bi-moon-stars-fill"></i></label>
                
                
                
                
            </div>
        </ul>
        
        
        
    </nav>
</header>