<% if(locals.user) { %>
    <li> <span><%- locals.user.username %> <i class="fa-solid fa-chevron-down"></i></span>
        <ul>
            <li><a href="/profil">Profil</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </li> 
<% } %>