:root {
    /* colors HEX*/
    --txtcolor: #FFFCFF;
    --bgcolor: #1B2F33;
    --complementcolor: #FFD23F;
    --highlightcolor: #F02D3A;
    --highlightcolordark: #BF0D19;
    --complementcolor2: #729EA1;
    --bgcolorlight: #2A4B50;
    --complementcolor2dark: #426E71;
    --complementcolordark: #CC9C00;
    --txtcolordark: #505050;
    --transparent: rgba(0, 0, 0, 0);

    /* colors RGB */
    --txtcolor_rgb: 255, 252, 255;
    --bgcolor_rgb: 27, 47, 51;
    --yellow_rgb: 255, 210, 63;

    /* spacing */
    --spacing: 7.5%;
    --spacingsmall: 3.5%;
    --txtpadding: 1.5rem;
    --txtpaddingsmall: 0.5rem;
}

$bgcolor: var(--bgcolor);
$padding-med: var(--txtpadding);
$padding-small: var(--txtpaddingsmall);
$yellow: var(--complementcolor);
$yellowdark: var(--complementcolordark);
$lightgreen: var(--complementcolor2);
$white: var(--txtcolor);

* {
    margin: 0px;
    padding: 0px;
    box-sizing: content-box !important;
}

*::selection {
    background-color: var(--complementcolor2);
    color: var(--complementcolor);
}

html {
    padding: 0;
    margin: 0;
}

@mixin extLink {
    a[href^="http"]:not(.iframe-tabs a)::before {
        content: "\2BB3";
        font-size: 1.5rem;
    }
    a[href^="http"]:not(.iframe-tabs a):hover::before {
        color: var(--txtcolor);
    }
}

@include extLink;

body {
    background-color: var(--bgcolor);
    padding: 0;
    font-family: "Lato", sans-serif;
}

html {
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
}

h1 {
    padding: var(--txtpadding) 0;
    font-weight: bold;
    font-size: 2.3rem;
}

h2 {
    font-size: 1.8rem;
}

h2, h3, h4 {
    color: var(--complementcolor);
    padding: var(--txtpadding) var(--txtpaddingsmall);
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.3rem;
}

header, main, footer {
    padding: 0 var(--spacing);
}

header, footer {
    background-color: var(--complementcolor);
    padding: 0 var(--spacing) var(--txtpadding) var(--spacing);
}

header nav li, footer * {
    color: var(--bgcolor);
}

header {
    margin-bottom: var(--spacingsmall);
}

footer {
    margin-top: var(--spacingsmall);
    padding-top: var(--txtpaddingsmall);
    padding-bottom: var(--txtpaddingsmall);
    
}

h1, header a {
    color: var(--bgcolor);
    margin-top: 0;
    text-decoration: none;
}

p, li, figcaption, details, footer {
    color: var(--txtcolor);
}

p {
    padding: var(--txtpaddingsmall);
}

details, details li, details a {
    padding: var(--txtpaddingsmall);
    list-style-type: none;
}

a {
    color: var(--highlightcolor);
}

main a, footer a:not(#linktop) {
    background: radial-gradient(var(--complementcolor) 0%, var(--complementcolor) 40%, var(--transparent) 80%, var(--transparent) 100%);
    border-radius: 50%;
    background-position: center;
    background-size: 0% 0%;
    background-repeat: no-repeat;
    transition: all 0.5s linear;
}

main a:visited, footer a:visited {
    color: var(--highlightcolordark);
}

main a:hover:not(.iframelink), footer a:hover:not(#linktop) {
    background-size: 100% 100%;
}

main a:active:not(.iframelink), footer a:active:not(#linktop) {
    border: 2px solid var(--txtcolor);
    transition: none;
    border-radius: 0;
}

ul {
    padding-left: 0;
    li {
        padding-left: var(--txtpaddingsmall);
    }
}

.hr-custom {
    border: none;
    height: 8px;
    background-image: linear-gradient(45deg, var(--complementcolor2) 25%, transparent 25%), linear-gradient(-45deg, var(--complementcolor2) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--complementcolor2) 75%), linear-gradient(-45deg, transparent 75%, var(--complementcolor2) 75%);
    background-size: 8px 8px;
    background-position: 0 0, 0 4px, 4px -4px, -4px 0px;
}

#banner-small img {
    min-width: 100px;
    width: 60%;
    max-width: 1000px;
}

#linktop {
    display: block;
    opacity: 0.5;
    position: fixed; 
    width: 2.5rem;
    height: 2.5rem;
    border: 2px dashed var(--txtcolor);
    padding: auto;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s linear;
    opacity: 0.3;
    bottom:0.3em;
    left:0.3em;
    background: linear-gradient(45deg, var(--bgcolorlight), var(--complementcolor2), var(--bgcolorlight));
}

#arrow {
    color: var(--txtcolor);
    text-decoration: none;
    margin: auto;
    line-height: 2.5rem;
    font-size: 1.25rem;
    font-weight: 900;
    transition: all 0.5s linear;
}

#linktop:hover {
    transform: rotateZ(90deg);
    opacity: 1;
}

#linktop:hover #arrow {
    transform: rotate(-90deg);
}

#foot-banner, #watermark {
    display: none;
}

#themediv {
    margin-left: auto;
    color: $bgcolor;
}


#themecheck {
    background-color: white;
    border: none;
    float: left;
}

#themecheck:checked {
    background-color: #070C0D;
}

.bi-sun-fill {
    margin-right: 0.25em;
    font-size: 1.1em;
}

.bi-moon-stars-fill {
    font-size: 0.9em;
}

@media screen and (max-width: 1280px) {
    .btn *:not(i) {
        display: none;
    }
}

body.dark-theme {
    /* colors HEX*/
    --txtcolor: #FFEBFF;
    --bgcolor: #070C0D;
    --complementcolor: #655A7C;
    --highlightcolor: #990B14;
    --highlightcolordark: #72080F;
    --complementcolor2: #4EA699;
    --bgcolorlight: #233C43;
    --complementcolor2dark: #346F66;
    --complementcolordark: #4D455F;
    --txtcolordark: #7A7A7A;
    --transparent: rgba(0, 0, 0, 0);

    /* colors RGB */
    --txtcolor_rgb: 255, 235, 255;
    --bgcolor_rgb: 7, 12, 13;
    --yellow_rgb: 101, 90, 124;
    #themediv {
        color: white;
    }
}