h2 {
    padding: 0.4rem;
}

#product {
    margin: 0 auto;
    width: 70%;
    max-width: 700px;
    background-color: rgba(var(--bgcolor_rgb), 0.5);
    padding: 0.4rem;
    p {
        margin: 0;
        padding: 0.4rem;
        font-weight: bold;
        font-size: 1.1rem;
        span {
            font-weight: normal;
        }
        &:nth-of-type(even) {
            background: rgba(var(--bgcolor_rgb), 0.8);
        }
        &:nth-of-type(odd) {
            background-color: var(--bgcolor);
        }
    }
}

.prodimg {
    text-align: center;
    img {
        width: 50%;
        height: auto;
    }
}