$bgcolor: var(--bgcolor);
$padding-med: var(--txtpadding);
$padding-small: var(--txtpaddingsmall);
$yellow: var(--complementcolor);
$yellowdark: var(--complementcolordark);
$lightgreen: var(--complementcolor2);
$white: var(--txtcolor);
$red: var(--highlightcolor);
$darkred: var(--highlightcolordark);

.prodfig img {
    width: 50%;
    height: auto;
}

.prods-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    .product {
        border: 2px solid black;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.5rem;
        margin-bottom: 3rem; 
        overflow: hidden;
        position: relative;
        h3 {
            color: $yellow;
            text-align: center;
            margin-top: 0;
            padding: 0.5rem 0.1rem;
        }
        a {
            color: $white;
        }
        figure {
            text-align: center;
            img {
                border: 1px solid black;
            }
        }
        div {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            // align-items: center;
        }
        .prodinfo {
            display: flex;
            background-color: var(--complementcolor2dark);
            margin-bottom: 0.5rem;
            p {
                width: 30%;
                text-align: center;
                font-weight: bold;
            }
        }

    }
}

.select-cart {
    display: inline-block;
    background-color: $yellow;
    width: 50%;
    margin: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    padding: 0.3rem;
    border: 1px solid transparent;
    &:hover {
        background-color: $yellowdark;
        border: 1px solid $red;
    }
}

.input-pair {
    display: block;
    margin-bottom: var(--txtpadding);
}

.radio-pair {
    display: inline-block;
    margin-right: 1em;
}