<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="BG Shop, jocuri, jocuri de societate, Monopoly, DnD, zaruri, carti de joc, board games, Gamewright, Days of Wonder">
    <meta name="description" content="Strategii, RPG, carti de joc, figurine, zaruri si multe altele la BG Shop Bucuresti cu livrare la domiciliu. Comandati acum!">    
    <title>BG Shop - Logout</title>
    <%- include("../partials/head") %>
</head>
<body>
    <%- include("../partials/header") %>
    <main>
        Ati fost delogati!
    </main>
    <%- include("../partials/footer") %>
</body>
</html>

